body {
    background-color: #313131;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 450px;
}

#display {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    display: flex;
    background-color: bisque;
    border: 3px solid black;
    border-radius: 10px;
    min-height: 100px;
}

#display > p {
    padding: 0;
    margin: auto 0 auto auto;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 3px;
}

.operation {
    background-color: #ff9900;
}

.type_switch {
    background-color: #bb22ab;
}